@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #D8D1B1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #D8D1B1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes flicker {
  0% { opacity: 0.9; }
  50% { opacity: 1; }
  100% { opacity: 0.85; }
}
.flicker {
  animation: flicker 0.15s infinite alternate delay(5s);
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(26deg);
  }
}

@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-bgMove {
  background-size: 200% 200%;
  animation: bgMove 10s infinite alternate ease-in-out;
}

::-webkit-scrollbar {
  width: 12px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: #333333;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #333333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(236 72 153);
}

::-webkit-scrollbar-corner {
  background-color: #333333;
}

/* For Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: rgb(236 72 153) #333333;
} */